h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body,
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%; }

p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%; }

html,
body,
ul,
li,
button,
input,
div,
h1,
h2,
p {
  margin: 0;
  padding: 0; }

.header {
  background: #008aff;
  border-radius: 0 0 0 200px;
  padding: 50px 100px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 800px; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .header__logo {
    margin-right: 78.18px;
    width: 44.82px;
    height: 25.63px;
    background-image: url(../images/Air.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .header__nav {
    margin: 0; }
  .header__action {
    padding: 8px 24px;
    margin-left: auto;
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    text-decoration: none; }
    .header__action::after {
      content: "";
      display: block;
      height: 2px;
      background: #ff9c8e;
      border-radius: 4px;
      margin-top: 8px; }
  .header__link {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__link:hover {
      color: #ff9c8e; }
  .header__info {
    margin: 0; }
  .header__slider {
    margin: 0;
    padding: 0; }

.hamburger-menu {
  display: none; }

.nav {
  color: white;
  text-transform: uppercase;
  white-space: nowrap; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__item {
    padding: 8px 24px;
    margin: 0 auto;
    list-style: none;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px; }
  .nav__link {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover {
      color: #ff9c8e; }

.info__heading {
  margin: 168px 0 32px;
  width: 490px;
  height: 136px;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px;
  color: #fff; }

.info__text {
  margin-bottom: 83px;
  width: 362px;
  height: 54px;
  font-weight: normal;
  font-size: 18px;
  color: #fff; }

.info__button {
  width: 226px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background: #ff9c8e;
  border-radius: 64px;
  border: none;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .info__button:hover {
    opacity: 0.8; }

.slider {
  position: absolute;
  top: 120px;
  right: 0;
  border-radius: 200px 0 0;
  overflow: hidden; }
  @media screen and (min-width: 1600px) {
    .slider {
      left: calc(50% + 1145px / 2 - 687px + 200px); } }
  .slider__image {
    width: 687px;
    height: 680px;
    border-radius: 200px 0 0;
    overflow: hidden; }
  .slider__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .slider__arrow_left {
    position: absolute;
    left: 48px;
    bottom: 66px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
    cursor: pointer;
    border: none;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .slider__arrow_left:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .slider__arrow_right {
    position: absolute;
    left: 88px;
    bottom: 66px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
    cursor: pointer;
    border: none;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .slider__arrow_right:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .slider__arrow_img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 6px;
    height: 9px;
    z-index: 2; }
  .slider__info {
    color: #fff; }
  .slider__heading {
    position: absolute;
    left: 144px;
    bottom: 96px;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .slider__text {
    position: absolute;
    left: 144px;
    bottom: 48px;
    font-size: 14px;
    line-height: 140%;
    font-weight: normal; }

.mySlides {
  display: none; }

@media screen and (min-width: 1600px) and (max-width: 4000px) {
  .header {
    padding: 50px calc(50% - 700px) 0; } }

@media screen and (min-width: 300px) and (max-width: 1124px) {
  .header {
    height: 1200px;
    position: relative;
    padding: 50px 25px; }
    .header__hamburger-icon::before {
      content: "";
      background-image: url(../images/hamburger.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 18px;
      height: 12px;
      position: absolute;
      top: inherit;
      right: 23px;
      cursor: pointer;
      z-index: 3; }
    .header__hamburger-icon::after {
      display: none;
      content: "";
      position: absolute;
      right: 24px;
      top: inherit;
      z-index: 3;
      background-image: url(../images/close.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 16px;
      width: 16px;
      cursor: pointer; }
    .header__action {
      display: none; }
    .header__logo {
      display: block;
      z-index: 3; }
    .header__nav {
      display: none; }
  .hamburger-menu:checked ~ .mobile-nav {
    top: 0;
    opacity: 1; }
  .hamburger-menu:checked ~ .header__hamburger-icon::before {
    display: none; }
  .hamburger-menu:checked ~ .header__hamburger-icon::after {
    display: block; }
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .info__heading {
      width: 270px;
      font-size: 50px;
      line-height: 54px;
      margin: 75px 0 32px; }
    .info__text {
      width: 270px;
      font-size: 14px;
      margin-bottom: 32px; }
  .slider {
    position: absolute;
    top: 520px;
    right: 0; }
    .slider__image {
      border-radius: 0 50px; }
  .about {
    margin: 0 20px; }
    .about__heading {
      margin: auto; }
    .about__text {
      text-align: center; }
  .expertise {
    margin: 0 20px; }
  .process {
    margin: 0 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (min-width: 300px) and (max-width: 680px) {
  .header {
    position: relative;
    height: 560px;
    border-radius: 0 0 0 100px; }
  .slider {
    display: none; } }

.mobile-nav {
  background-color: #008aff;
  position: absolute;
  top: -100%;
  opacity: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 120px;
  padding-bottom: 39px;
  z-index: 2;
  list-style: none; }
  .mobile-nav__item {
    margin-left: 21px;
    margin-bottom: 32px; }
  .mobile-nav__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .mobile-nav__link:hover {
      color: #ff9c8e; }
  .mobile-nav__action {
    margin-left: 21px; }
    .mobile-nav__action-link {
      font-size: 22px;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
      letter-spacing: 2px; }
      .mobile-nav__action-link:hover {
        color: #ff9c8e; }
      .mobile-nav__action-link::after {
        content: "";
        display: block;
        height: 2px;
        background-color: #ff9c8e;
        margin-top: 8px; }

.section {
  padding: 100px calc(50% - 570px) 0; }
  .section__heading {
    font-size: 52px;
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #253757; }
  .section__expertise {
    background: #fff;
    border-radius: 30px;
    padding-bottom: 100px; }
  .section__approach {
    padding: 0 calc(50% - 570px) 0; }
    @media screen and (min-width: 1350px) {
      .section__approach {
        padding: 0 calc(50% - 670px) 0; } }
  .section__testimonials {
    padding: 100px calc(50% - 570px) 100px; }
  .section__vpr {
    background-color: #fff; }
  .section__footer {
    padding: 100px calc(50% - 570px) 50px; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .about__heading {
    width: 191px;
    height: 48px;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    display: block;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-bottom: 16px; }
  .about__text {
    font-size: 24px;
    line-height: 150%;
    color: #6c788b;
    display: block;
    margin-bottom: 148px; }

.expertise__heading {
  margin: 0 20px 64px;
  text-align: center; }

.expertise__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (min-width: 300px) and (max-width: 1124px) {
    .expertise__blocks {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.expertise__block {
  width: 290px;
  height: 350px; }
  @media only screen and (min-width: 300px) and (max-width: 1024px) {
    .expertise__block {
      margin: 0 20px 100px; } }

.block {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .block:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .block__image {
    margin: 0 auto 40px;
    width: 166px;
    height: 166px; }
  .block__img {
    border-radius: 20px; }
  .block__heading {
    margin: 0 auto 16px;
    width: 264px;
    height: 28px;
    font-size: 20px;
    line-height: 140%;
    color: #253757;
    text-align: center; }
  .block__text {
    margin: 0 auto;
    width: 264px;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;
    text-align: center; }

.process {
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (min-width: 300px) and (max-width: 950px) {
    .process {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .process__info {
    margin: 0; }
  .process__heading {
    margin-top: 250px;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin-bottom: 16px; }
    @media screen and (min-width: 300px) and (max-width: 950px) {
      .process__heading {
        margin-top: 50px; } }
  .process__main {
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
    color: #253757;
    margin-bottom: 24px; }
  .process__text {
    color: #6c788b;
    margin-bottom: 16px; }
  .process__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.cards {
  width: 560px; }
  .cards__card {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 264px;
    height: 264px;
    background: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    padding: 32px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .cards__card:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .cards__card-n {
    width: 46px;
    height: 24px;
    border-radius: 23px;
    margin-bottom: 24px; }
  .cards__card-num {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    padding-top: 2.5px; }
  .cards__info {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    margin-bottom: 32px; }
  .cards__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .cards__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 16px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .cards__button:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .cards__more-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563; }

.cards__card-001 {
  margin: 280px 30px 30px 0; }
  @media screen and (min-width: 300px) and (max-width: 675px) {
    .cards__card-001 {
      margin: 50px 0 30px; } }
  .cards__card-001__card-n {
    background: rgba(86, 204, 242, 0.1); }
  .cards__card-001__card-num {
    color: #56ccf2; }
  .cards__card-001__button {
    background: #56ccf2; }

.cards__card-002 {
  margin-top: 100px; }
  @media screen and (min-width: 300px) and (max-width: 675px) {
    .cards__card-002 {
      margin: 0 30px 30px; } }
  .cards__card-002__card-n {
    background: rgba(252, 201, 29, 0.1); }
  .cards__card-002__card-num {
    color: #fcc91d; }
  .cards__card-002__button {
    background: #fcc91d; }

.cards__card-003 {
  margin: 0 30px -90px 0;
  z-index: 2; }
  @media screen and (min-width: 300px) and (max-width: 675px) {
    .cards__card-003 {
      margin: 0 30px 30px; } }
  .cards__card-003__card-n {
    background: rgba(21, 216, 80, 0.1); }
  .cards__card-003__card-num {
    color: #15d850; }
  .cards__card-003__button {
    background: #15d850; }

.cards__card-004 {
  margin: -180px 0 0; }
  @media screen and (min-width: 300px) and (max-width: 675px) {
    .cards__card-004 {
      margin: 0 30px 30px; } }
  .cards__card-004__card-n {
    background: rgba(243, 99, 99, 0.1); }
  .cards__card-004__card-num {
    color: #f36363; }
  .cards__card-004__button {
    background: #f36363; }

.approach-all {
  position: relative;
  background: #ff9c8e;
  margin-left: 100px;
  border-radius: 200px 200px 0; }
  @media screen and (max-width: 675px) {
    .approach-all {
      border-radius: 20px;
      margin-left: 0; } }

.approach {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 204px 0 204px 104px;
  border-radius: 200px 200px 0; }
  @media screen and (min-width: 1600px) {
    .approach {
      position: relative; } }
  @media screen and (max-width: 1250px) {
    .approach {
      border-radius: 200px; } }
  @media screen and (max-width: 675px) {
    .approach {
      margin-left: 0;
      padding: 204px 50px; } }
  @media screen and (max-width: 400px) {
    .approach {
      margin-left: 0;
      padding: 50px 20px; } }
  .approach__info {
    color: #fff; }
  .approach__heading {
    font-weight: bold;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .approach__main {
    font-size: 32px; }
  .approach__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .approach__image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 580px;
    width: 580px;
    border-radius: 200px 0 0; }
    @media screen and (max-width: 1150px) {
      .approach__image {
        display: none; } }
    @media screen and (min-width: 1350px) {
      .approach__image {
        height: 680px;
        width: 680px; } }
    @media screen and (min-width: 1599px) {
      .approach__image {
        right: -130px; } }

.container {
  margin-bottom: 64px; }
  @media screen and (max-width: 420px) {
    .container {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .container__image {
    width: 64px;
    height: 64px;
    background-color: #fff;
    border-radius: 50%; }
  .container__img {
    padding: 22px; }
  .container__img-3 {
    padding: 23px; }
  .container__text {
    margin-left: 34px;
    font-weight: normal;
    font-size: 15px; }
    @media screen and (max-width: 600px) {
      .container__text {
        margin: 20px; } }

.testimonials__heading {
  width: 127px;
  height: 20px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7;
  margin-bottom: 16px; }
  @media screen and (min-width: 300px) and (max-width: 1124px) {
    .testimonials__heading {
      margin: 20px; } }

.testimonials__main {
  font-size: 32px;
  color: #253757;
  margin-bottom: 85px; }
  @media screen and (min-width: 300px) and (max-width: 1124px) {
    .testimonials__main {
      margin: 20px; } }

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (min-width: 300px) and (max-width: 1124px) {
    .testimonials__container {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.testimonials__blocks {
  width: 314px;
  height: 494px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px; }

.blocks {
  position: relative;
  margin: 0;
  cursor: pointer; }
  .blocks:hover .blocks__photo {
    -webkit-transform: scale(1.25);
            transform: scale(1.25); }
  .blocks:hover .blocks__deco {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: center;
            transform-origin: center; }
  @media screen and (min-width: 400px) and (max-width: 1124px) {
    .blocks {
      margin: 20px; } }
  @media screen and (max-width: 399px) {
    .blocks {
      margin: 20px 0; } }
  .blocks__deco {
    position: absolute;
    left: 40px;
    top: 80px;
    bottom: 310px;
    width: 139px;
    height: 56px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    z-index: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .blocks__deco-2 {
    left: initial;
    right: 30px;
    top: 170px;
    z-index: 1; }
  .blocks__deco-11, .blocks__deco-12 {
    background-color: #56ccf2; }
  .blocks__deco-21, .blocks__deco-22 {
    background-color: #fcc304; }
  .blocks__deco-31, .blocks__deco-32 {
    background-color: #f25656; }
  .blocks__photo {
    position: absolute;
    top: 87px;
    left: 87px;
    width: 140px;
    height: 140px;
    z-index: 2;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
  .blocks__deco-3 {
    position: absolute;
    width: 20.58px;
    height: 18.48px;
    left: 147px;
    top: 309px; }
  .blocks__info {
    position: relative;
    top: 338px; }
  .blocks__quote {
    font-size: 13px;
    text-align: center;
    color: #6c788b;
    margin: 0;
    margin-bottom: 16px; }
  .blocks__name {
    font-size: 13px;
    text-align: center;
    color: #253757;
    margin-bottom: 4px; }
  .blocks__company {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }

.vpr {
  height: 888px;
  background: url(../images/Shapes.png) no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 600px) {
    .vpr {
      background-position: center; } }
  .vpr__heading {
    font-size: 52px;
    line-height: 150%;
    text-align: center;
    color: #253757;
    margin: 99px auto 24px; }
  .vpr__text {
    font-size: 24px;
    text-align: center;
    color: #6c788b;
    margin-bottom: 64px; }
  .vpr__button {
    width: 226px;
    height: 56px;
    background: #ff9c8e;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    border-radius: 64px;
    border: none;
    cursor: pointer;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    margin-left: auto;
    margin-right: auto; }
    .vpr__button:hover {
      opacity: 0.8; }

.footer {
  margin-top: -200px;
  background: #008aff;
  border-radius: 0 200px 0 0; }
  @media screen and (min-width: 300px) and (max-width: 1224px) {
    .footer {
      padding: 100px 30px; } }
  @media screen and (min-width: 300px) and (max-width: 895px) {
    .footer .contacts__heading {
      margin-top: 50px; } }
  .footer__form--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer__form {
    width: 460px; }
  .footer__form--heading {
    color: #fff;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 56px; }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (min-width: 300px) and (max-width: 830px) {
      .footer__nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  @media screen and (min-width: 300px) and (max-width: 830px) {
    .footer__navigation--list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__item {
    margin-bottom: 50px; }
  .form__input {
    width: 460px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid #fff;
    opacity: 0.5;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    outline: none; }
    @media screen and (max-width: 500px) {
      .form__input {
        width: 100%; } }
    .form__input:hover {
      opacity: 1; }
    .form__input::-webkit-input-placeholder {
      color: #fff; }
    .form__input::-moz-placeholder {
      color: #fff; }
    .form__input:-ms-input-placeholder {
      color: #fff; }
    .form__input::-ms-input-placeholder {
      color: #fff; }
    .form__input::placeholder {
      color: #fff; }
  .form__button {
    margin-top: 80px;
    width: 226px;
    height: 56px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    background: #ff7e6c;
    border: none;
    border-radius: 64px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .form__button:hover {
      opacity: 0.8; }

.contacts {
  color: #fff; }
  .contacts__heading {
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 56px; }
  .contacts__title {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5; }
  .contacts__phone {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 150%;
    text-decoration: none;
    color: #fff; }
  .contacts__address {
    margin-top: 40px; }
  .contacts__addr {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 150%; }
  .contacts__soc--title {
    margin-top: 40px; }
  .contacts__soc--link {
    text-decoration: none;
    color: #008aff; }
  .contacts__soc--icon {
    margin: 0 30px 0 0;
    -o-object-fit: cover;
       object-fit: cover; }
    .contacts__soc--icon:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

body {
  background: rgba(86, 204, 242, 0.1); }

/*# sourceMappingURL=main.css.map */
